body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(black, gray);
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
    color: goldenrodg;
}

button {
    margin: 20px 0;
    background-color: white;    
    color: black;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px 8px;
}